@font-face {
    font-family:'Alibaba PuHuiTi';
    src: url('./Alibaba-PuHuiTi-Light.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family:'FZBaoSong-Z04S';
    src: url('./FZBaoSong-Z04S.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family:'PingFang-Bold-2';
    src: url('./PingFang-Bold-2.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family:'PingFang-ExtraLight-2';
    src: url('./PingFang-ExtraLight-2.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family:'PingFang-Regular';
    src: url('./PingFang-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'iconfont';  /* project id 3164951 */
    src: url('');
    src: url('?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_3164951_8fqhkmsoe9b.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_3164951_8fqhkmsoe9b.woff') format('woff'),
    url('//at.alicdn.com/t/font_3164951_8fqhkmsoe9b.ttf') format('truetype'),
    url('#iconfont') format('svg');
  }